/*body {
  background-color: #FFE3AA;
}

.container {
  width: 85%;
  margin: 2em;
  background-color: #A8956F;
}*/

nav {
  margin-top: 10px;
}

#nav-header {
  text-transform: uppercase;
  font-size: 20px;
}

.social-icon {
  height: 20px;
  display: inline-block;
}

.social-icons {
  margin-right: 10px;
}

.main-display {
  text-align: center;
}

h1 {
  text-align: center;
}

.main-display img {
  height: auto;
  width: 500px;
}

figure {
  margin: 15px;
  display: inline-block;
}

figcaption {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

a:hover {
  text-decoration: none;
}

h2 {
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.item {
    background: #333;
    text-align: center;
}

.carousel {
    margin-top: 20px;
}

#myCarousel {
	margin: 20px;
}

.carousel figcaption {
  color: white;
}

.second-figure {
  width: 400px;
}

.first-figure {
  width: 600px;
}

.social-menu {
  margin: 0;
  padding: 5px;
}

.social-menu img {
  width: 35%;
  margin: 5px;
}
