<div class="container">

  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'home'}}Gorillas{{/link-to}}</li>
      <li>{{#link-to 'home'}}Lions{{/link-to}}</li>
      <li>{{#link-to 'home'}}Lizards{{/link-to}}</li>
      <li>{{#link-to 'home'}}Warthogs{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
