<div class="container">

  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li id="nav-header">{{#link-to 'home'}}Animals{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar pull-right">
      <li>{{#link-to 'home'}}Gorillas{{/link-to}}</li>
      <li>{{#link-to 'home'}}Lions{{/link-to}}</li>
      <li>{{#link-to 'home'}}Lizards{{/link-to}}</li>
      <li>{{#link-to 'home'}}Warthogs{{/link-to}}</li>
      <li class="social-icons">
        <img class="social-icon" src="img/facebook-icon.png">
        <img class="social-icon" src="img/twitter-icon.png">
        <img class="social-icon" src="img/reddit-icon.png">
      </li>
    </ul>
  </nav>

  {{outlet}}

</div>
