<h1>Warthog</h1>

<p>
  The common warthog or warthog (Phacochoerus africanus) is a wild member of the pig family (Suidae) found in grassland, savanna, and woodland in sub-Saharan Africa. In the past, it was commonly treated as a subspecies of P. aethiopicus, but today that scientific name is restricted to the desert warthog of northern Kenya, Somalia, and eastern Ethiopia.
</p>
<p>
The common name comes from the four large, wart-like protrusions found on the head of the warthog, which serve as a fat reserve and are used for defense when males fight. The generic name is a compound of 'phaco-' and 'choerus' meaning 'wart' and 'hog'. Afrikaans-speaking people call the animal vlakvark, meaning "pig of the plains".
</p>
